.expense-container {
  max-width: 40rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #e8e8e8 !important;
}

.table-head {
  overflow-y: scroll;
  height: 19rem;
  background-color: #e8e8e8 !important;
}

.table-head::-webkit-scrollbar {
  overflow: hidden;
}

.expenses-title {
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #e8e8e8 !important;
}

.expense-container h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.buttons {
  text-align: center;
}

.titleHead {
  border: 1px solid red;
} 

.total-price {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid red; */
  align-items: flex-end;
  font-weight: 700;
  margin-right: 2rem;
}

.total-price .money {
  margin-left: 3rem !important;
}
