.expense-container {
  max-width: 30rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.expenses-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.expense-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

